.Events {
  height: 100%;
  padding: 15vh;
}

.Events h1 {
  padding-bottom: 5vh;
}

.Events .calendar-container {
  padding-bottom: 10vh;
}

.Events .rbc-calendar .rbc-btn-group button,
.Events .rbc-calendar .rbc-off-range {
  color: black;
}

.Events .rbc-calendar .rbc-btn-group button:hover {
  background-color: #49b9ff !important;
  cursor: pointer;
}

.Events .rbc-calendar .rbc-active,
.Events .rbc-calendar .rbc-off-range-bg {
  background-color: rgba(255,255,255,.3);
}

.Events .rbc-calendar .rbc-today {
  border-style: double;
  background-color: #49b9ff;
}

.Events .rbc-calendar .rbc-event {
  background-color: #49b9ff;
}

.Events iframe {
  height: 500px;
  width: 1000px;
}