.Carousel .carousel-img {
  height: 50vh;
  width: auto;
  margin-bottom: 0;
  margin-top: 20px;
}

.Carousel .carousel-control-next {
  right: -15%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 36%;
} 

.Carousel .carousel-control-prev {
  left: -20%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 36%;
}

.Carousel .card {
  margin: 10px;
}