.SocialBar {
  padding: 5vh;
}

.SocialBar h3 {
  padding-bottom: 5vh;
}

.SocialBar .icons-container {
  max-width: 35px;
  margin-right: 25px;
  padding-right: 5vh;
}

.SocialBar .icons-container a {
 cursor: pointer;
}
