.SocialBar {
  padding: 5vh;
}

.SocialBar h3 {
  padding-bottom: 5vh;
}

.SocialBar .icons-container {
  max-width: 35px;
  margin-right: 25px;
}

.SocialBar a {
 color: #fff;
 display: block;
 height: 35px;
 line-height: 35px;
 text-align: center;
 width: 35px;
}

.SocialBar a {
 cursor: pointer;
}

.SocialBar a[class*="facebook"] { background: #3b5998; }

.SocialBar a[class*="twitter"] { background: #00aced; }

.SocialBar a[class*="meetup"] { background: #dd4b39; }

.SocialBar a[class*="linkedin"] { background: #007bb6; }

.SocialBar a[class*="instagram"] { background: #517fa4; }

.SocialBar a[class*="youtube-play"] { background: #c0392b; }

.SocialBar a[class*="snapchat-ghost"] { background: #f1c40f; }

.SocialBar a[class*="github-alt"] { background: #333; }

.SocialBar a[class*="medium"] { background: #2ecc71; }

.SocialBar a[class*="slack"] { background: #8e44ad; }

.SocialBar a[class*="envelope"] { background: #3498db; }
