.SocialBar {
  padding: 5vh;
}

.SocialBar h3 {
  padding-bottom: 5vh;
}

.SocialBar .icons-container {
  max-width: 35px;
  margin-right: 25px;
  padding-right: 5vh;
}

.SocialBar .icons-container a {
 cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .SocialBar .icons-container img {
    width: 40px;
  }
}

