.ContactForm #submit {
  color: black;
  font-weight: bold;
  border: 2px solid #000080;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 418px) {
  .ContactForm {
    display: none;
  }
}