.Stats {
  height: 100%;
  min-height: 100vh;
  padding: 15vh;
}

.Stats h2 {
  padding-bottom: 5vh;
}

@media (max-width: 570px) {
  .Stats .img_participacion {
    width: 450px;
  }
}

@media (max-width: 440px) {
  .Stats .img_participacion {
    width: 380px;
  }
}
