.Stats {
  height: 100%;
  min-height: 100vh;
  padding: 15vh;
  background-image: linear-gradient(0deg, #eac1e7, #e6e7ee, #e6e7ee, #49b9ff);
}

.Stats h2 {
  padding-bottom: 5vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 406.98px) {
  .Stats .img_participation {
    height: 300px;
  }
  .Stats .img_gender {
    width: 180px;
  }
  .Stats h3 {
    font-size: 20px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 407px) and (max-width: 575.98px) {
  .Stats .img_participation {
    height: 360px;
  }
  .Stats .img_gender {
    width: 180px;
  }
  .Stats h3 {
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Stats .img_participation {
    width: 450px;
  }
  .Stats .img_gender {
    width: 210px;
  }
  .Stats h3 {
    font-size: 22px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Stats .img_participation {
    width: 470px;
  }
  .Stats .img_gender {
    width: 220px;
  }
  .Stats h3 {
    font-size: 23px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Stats .img_participation {
    width: 490px;
  }
  .Stats .img_gender {
    width: 225px;
  }
  .Stats h3 {
    font-size: 25px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Stats .img_participation {
    width: 510px;
  }
  .Stats .img_gender {
    width: 230px;
  }
  .Stats h3 {
    font-size: 30px;
  }
}