.Blog {
  height: 100%;
  padding: 15vh;
  background: url(../../images/forma-redes-derecha-blue.png) right bottom no-repeat,
              url(../../images/forma-redes-izquierda-blue.png) left top no-repeat;
}

.Blog h1 {
  padding-bottom: 5vh;
}

.Blog .card {
  border-style: outset;
  border-block-color: black;
  min-width: 200px;
}

.Blog .btn-primary {
  border-color: #000080;
}

.Blog .card a:hover {
  border-color: white;
  background-color: rgba(0,0,128,.3);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Blog .card {
    margin-bottom: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .Blog .card {
    margin: 10px;
  }
  .Blog {
    background: white;
  }
}