.Discover {
  height: 100vh;
  background: url(../../images/forma-redes-derecha-blue.png) right bottom no-repeat,
              url(../../images/forma-redes-izquierda-blue.png) left top no-repeat;
}

.Discover i {
  font-size:20vh;
}

.Discover a {
  text-decoration: none;
}

.Discover .discover-item {
  background-color: white;
  margin: 5vh;
}
