.Members {
  height: 100%;
  padding: 15vh;
  
  background: url(../../images/forma-redes-pink-top-completa.png) center top no-repeat,
              url(../../images/forma-redes-pink-bottom-completa.png) center bottom no-repeat,
              linear-gradient(0deg, #e6e7ee, #eac1e7, #e6e7ee, #e6e7ee, #e6e7ee, #461442);
}

.Members h1 {
  padding-bottom: 5vh;
}

.Members .member-pic {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  object-position: 0% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Members i {
  font-size: 5vh;
}

.Members .member-row {
  margin-top: 5vh;
}

.Members #linkedin {
  margin-right: 2vh;
}

.Members .member-container {
  /* max-width: 40vh;
  margin-right: 7vh; */
}
