.App .font-title {
  font-size: 70px;
  font-family: 'Righteous', cursive;
}

.App .font-subtitle {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

.App .font-paragraph {
  font-family: 'Raleway', sans-serif;
}

.App .font-quote {
  font-family: 'Dancing Script', cursive;
}

.App .font-highlighted-paragraph {
  font-family: 'Open Sans', sans-serif;
}
