@font-face {
  font-family: fontTitle;
  src: url(./fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: fontSubtitle;
  src: url(./fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: fontParagraph;
  src: url(./fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: fontQuoteAnanda;
  src: url(./fonts/Ananda/Ananda-Black-Personal-Use.ttf);
}

@font-face {
  font-family: fontQuoteRighteous;
  src: url(./fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: highlightedParagraph;
  src: url(./fonts/OpenSans/OpenSans-Italic.ttf);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .App .font-subtitle {
    font-size: 30px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .App .font-subtitle {
    font-size: 35px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .App .font-subtitle {
    font-size: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .App .font-subtitle {
    font-size: 45px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .App .font-subtitle {
    font-size: 50px;
  }
}

.App .font-subtitle {
  font-family: fontSubtitle;
}

.App .font-title {
  font-size: 70px;
  font-family: fontTitle;
}

.App .font-paragraph {
  font-family: fontParagraph;
}

.App .font-quote-ananda {
  font-family: fontQuoteAnanda;
}

.App .font-quote {
  font-family: fontQuoteRighteous;
}

.App .font-highlighted-paragraph {
  font-family: highlightedParagraph;
}

.show-red {
  background-color: red;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: black;
}
