body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-navy {
  color: #000080;
}

.text-pink-yarrow {
  color: #CE3175;
}

.text-smoke-white {
  color: #f5f5f5;
}

.text-flame {
  color: #e2b822;
}

.bg-navy {
  background-color: #000080;
}

.bg-navy-light {
  background-color: #5050d0;
}

.bg-pink-yarrow {
  background-color: #CE3175;
}

.bg-flame {
  background-color: #e2b822;
}

.bg-smoke {
  background-color: #cdcdcd;
}
