@font-face {
  font-family: fontParagraph;
  src: url(./fonts/Raleway/Raleway-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: fontParagraph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-navy {
  color: #032567;
}

.text-pink-yarrow {
  color: #cb65c4;
}

.text-smoke-white {
  color: #ffffff;
}

.text-smoke-strong {
  color: #5a5a5a;
}

.text-flame {
  color: #ff9f00;
}

.text-olympia {
  color: #49b9ff;
}

.text-olympia-strong {
  color: #3451b3;
}

.bg-navy {
  background-color: #032567;
}

.bg-navy-gradient {
  background-image: linear-gradient(-90deg, #032567, #a2b7e1);
}

.bg-pink-yarrow {
  background-color: #cb65c4;
}

.bg-pink-yarrow-strong {
  background-color: #461442;
}

.bg-pink-yarrow-light {
  background-color: #eac1e7;
}

.bg-pink-yarrow-gradient {
  background-image: linear-gradient(-90deg, #461442, #cb65c4);
}

.bg-smoke {
  background-color: #e4e4e4;
}
