.Contact {
  padding: 15vh;
}

.Contact #left .row {
  padding-bottom: 5vh;
}

.Contact #utp-container,
.Contact #sirius-container {
  width: 10vh;
  height: auto;
}

.Contact #utp-container {
  max-width: 25vh;
}

.Contact #utp {
  width: 20vh;
  height: auto;
}

.Contact #sirius {
  width: 30vh;
  height: auto;
}

.Contact #up-container {
  height: 100vh;
}
