.Contact {
  height: 100%;
  padding: 8vh;
}

.Contact #utp {
  width: 20vh;
  height: auto;
}

.Contact #sirius {
  width: 30vh;
  height: auto;
}

.Contact .logos .col {
  margin: 30px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Contact .font-subtitle {
    font-size: 65px;
  }
}