.photoGallery {
  height: 100%;
  min-height: 100vh;
  padding: 15vh;
  background: url(../../images/forma-redes-izquierda-blue.png) left top no-repeat,
              url(../../images/forma-redes-derecha-blue.png) bottom right no-repeat;
}

.photoGallery .event-pic {
  object-fit: cover;
  object-position: 0% 0;
  max-height: 30vh;
}

.photoGallery h1 {
  padding-bottom: 15vh;
}

.photoGallery .card:hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .photoGallery {
    background: white;
  }
}