.Header {
  position: relative;
  width: auto;
  height: 100vh;
  background-image: url(../../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-color: #777;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-blend-mode: multiply;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Header #mision {
    font-size: 15px;
    padding: 8vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Header #mision {
    font-size: 15px;
    padding: 9vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Header #mision {
    font-size: 15px;
    padding: 11vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Header #mision {
    font-size: 18px;
    padding: 13vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Header #mision {
    font-size: 20px;
    padding: 15vw;
  }
}